<div class="content-header col-xs-12">
  <h2>Dashboard</h2>
</div>
<div class="row">
  <div class="col-sm-2 top-stats">
    <div class="stats-green">
      <h3>5</h3>
      Collections
    </div>
  </div>
  <div class="col-sm-2 top-stats">
    <div class="stats-blue">
      <h3>241</h3>
      Documents
    </div>
  </div>
  <div class="col-sm-2 top-stats">
    <div class="stats-red">
      <h3>41</h3>
      Data size
    </div>
  </div>
  <div class="col-sm-2 top-stats">
    <div class="stats-green">
      <h3>2741</h3>
      Index size
    </div>
  </div>
  <div class="col-sm-2 top-stats">
    <div class="stats-red">
      <h3>41</h3>
      Storage size
    </div>
  </div>
  <div class="col-sm-2 top-stats">
    <div class="stats-green">
      <h3>274</h3>
      Latency
    </div>
  </div>
</div>
<div class="row charts">
  <div class="col-sm-7 no-padding">
    <svg id="oplogChart"></svg>
  </div>
  <div class="col-sm-5 no-padding">
    <svg id="collectionsChart"></svg>
  </div>
</div>
<div class="collections-container">
  <h3>Collections</h3>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Documents count</th>
    </tr>
    <tr>
        <td>1</td>
        <td>places</td>
        <td>14</td>
    </tr>
  </table>
</div>
